<div class="container">
    <h1>Création de team</h1>
  
      <div class="row">
          <div class="col-md-2"></div>
          <div class="carte col-md-8">
  
              <div class="carteavatar row">
                  <img src="assets/avatarh.png" class="avatar" alt="">
              </div>
  
              <div class="form row">
                  <form>
                    
                        <div class="form_group">
                          <label for="subscription_login">Nom de la team </label>
                          <input type="text" name="team" id="subscription_login"/>
                        </div>
                      
                      
                      <div class="boutton row">
                          <button class="savebtn" type="submit">Save</button>
                          <button class="cancelbtn" type="submit">Cancel</button>
                      </div>
                    
                     
                    </form>
  
  
              </div>
                      
          </div>
      </div>
  </div>