<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Perseverance</h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDataperseverance"
                            [labels]="barChartLabelsperseverance"
                            [options]="barChartOptionsperseverance"
                            [legend]="barChartLegendperseverance"
                            [chartType]="barChartTypeperseverance">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Confiance en soi</h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDataconfiance"
                            [labels]="barChartLabelsconfiance"
                            [options]="barChartOptionsconfiance"
                            [legend]="barChartLegendconfiance"
                            [chartType]="barChartTypeconfiance">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Collaboration</h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDatacollaboration"
                            [labels]="barChartLabelscollaboration"
                            [options]="barChartOptionscollaboration"
                            [legend]="barChartLegendcollaboration"
                            [chartType]="barChartTypecollaboration">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Autonomie</h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDataautonomie"
                            [labels]="barChartLabelsautonomie"
                            [options]="barChartOptionsautonomie"
                            [legend]="barChartLegendautonomie"
                            [chartType]="barChartTypeautonomie">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Problem Solving</h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDataproblemsolving"
                            [labels]="barChartLabelsproblemsolving"
                            [options]="barChartOptionsproblemsolving"
                            [legend]="barChartLegendproblemsolving"
                            [chartType]="barChartTypeproblemsolving">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Transmission</h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDatatransmission"
                            [labels]="barChartLabelstransmission"
                            [options]="barChartOptionstransmission"
                            [legend]="barChartLegendtransmission"
                            [chartType]="barChartTypetransmission">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Performance</h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDataperformance"
                            [labels]="barChartLabelsperformance"
                            [options]="barChartOptionsperformance"
                            [legend]="barChartLegendperformance"
                            [chartType]="barChartTypeperformance">
                    </canvas>
                  </div>
            </div>
        </div>
</div>
  
</div>