<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Perseverance</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">{{userperseverance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">{{moyenneuserperseverance| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamperseverance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">{{moyenneteamperseverance| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Confiance en soi</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">{{userconfiance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">{{moyenneuserconfiance| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamconfiance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">{{moyenneteamconfiance| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Collaboration</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">{{usercollaboration | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">{{moyenneusercollaboration| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamcollaboration | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">{{moyenneteamcollaboration| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Autonomie</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">{{userautonomie | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">{{moyenneuserautonomie| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamautonomie | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">{{moyenneteamautonomie| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Problem Solving</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">{{userproblemsolving | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">{{moyenneuserproblemsolving| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamproblemsolving | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">{{moyenneteamproblemsolving| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Transmission</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">{{usertransmission | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">{{moyenneusertransmission| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamtransmission | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">{{moyenneteamtransmission| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Performance</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">{{userperformance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">{{moyenneuserperformance| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamperformance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">{{moyenneteamperformance| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class=" general card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text1">Général</h5>
                <div class="metric-values d-inline-block">
                    <h1 class="mb-11">{{general | number:'2.1-2'}}%</h1>

                </div>
                <div class="metric-labels d-inline-block float-right text-danger font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-12">{{moyennegeneral | number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
</div>