<div class="nav-left-sidebar ">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
          
             
                    <li class="nav-divider" *ngIf="auth.isadmin">
                        <a class="nav-link "[routerLink]="['/collaborateur']"  aria-expanded="false"><i class="fa fa-fw fa-user-circle"></i>grow</a>
                    </li>
                    <li class="nav-divider" *ngIf="auth.isuser">
                        <a class="nav-link "[routerLink]="['/collaborateur/detail',403]"  aria-expanded="false"><i class="fa fa-fw fa-user-circle"></i>Dashbord</a>
                    </li>
              
                     <li class="nav-divider" *ngIf="auth.isadmin">
                        <a class="nav-link "[routerLink]="['/team']"  aria-expanded="false"><i class="fa fa-fw fa-user-circle"></i>Team</a>
                    </li>
                    <li class="nav-divider" *ngIf="auth.isadmin">
                        <a class="nav-link "[routerLink]="['/session']"  aria-expanded="false"><i class="fa fa-fw fa-user-circle"></i>Session</a>
                    </li>
                    <li class="nav-divider" *ngIf="auth.isuser">
                        <a class="nav-link "[routerLink]="['/question']"  aria-expanded="false"><i class="fa fa-fw fa-user-circle"></i>Evaluation</a>
                    </li>
                  
                  
                </ul>
            </div>
        </nav>
    </div>
</div>