<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" >
          <div class="card" style="width: 16rem;">
              <a class="liencarte" >
  
              <img class="card-img-top" src="assets/avatarh.png"  alt="Card image cap">
              <div class="info">
                  <div class="title">
                    <strong class="strong">Adji Anta Dabo</strong>
                  </div>
                  <div class="desc">Developper web / mobile</div>

              
                </div>
           
              
              </a>
            </div>
          
    
        </div>
        <div class="col-md-3" >
          <div class="card" style="width: 16rem;">
              <a class="liencarte" >
  
              <img class="card-img-top" src="assets/avatarh.png"  alt="Card image cap">
              <div class="info">
                  <div class="title">
                    <strong class="strong">Elhadji Yaya Ly </strong>
                  </div>
                  <div class="desc">Developper web / mobile</div>
              
                </div>
         
              </a>
            </div>
          
    
        </div>
        <div class="col-md-3" >
          <div class="card" style="width: 16rem;">
              <a class="liencarte" >
  
              <img class="card-img-top" src="assets/avatarh.png"  alt="Card image cap">
              <div class="info">
                  <div class="title">
                    <strong class="strong">Glory Ayivi Amah </strong>
                  </div>
                  <div class="desc">Digital Manager</div>

                </div>
            
              </a>
            </div>
          
    
        </div>
        <div class="col-md-3" >
          <div class="card" style="width: 16rem;">
              <a class="liencarte" >
  
              <img class="card-img-top" src="assets/avatarh.png"  alt="Card image cap">
              <div class="info">
                  <div class="title">
                    <strong class="strong">Elhadji Mbacke Mbaye </strong>
                  </div>
                  <div class="desc">Developper web / mobile</div>

              
                </div>
           
              </a>
            </div>
          
    
        </div>
      </div>
</div>