
.mb-1{
  float: right;
  }
  
  .user{
      margin-right: 40px;
      color: #FF4080;
  }
  


  .titre{
      margin-right: 10px;
      color: black;
  }
  
  .titre2{
      margin-right: 10px;
      color: grey;
  }
  
.nomtab{
  text-transform: capitalize;
}

.modif{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left:30px;
}
.info{
  margin-top: 25px;
  margin-bottom: 25px;
}

.card{
  background-color: white;
  // height: 120px;
  margin-top: 50px;
  margin-right: 25px;
}
.c{
  margin-left: 15px;
}

.c2{
  margin-top: -50px;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.yaya{
  display: block;
  width: 400px;
  height: 400px;
}  


.carte{
  border: 1px solid rgb(224, 224, 224);
  border-radius: 15px;
  box-shadow: 5px 10px 18px #dbdbdb;
  padding: 20px;
  margin-bottom: 40px;
  margin-right: 25px;

}

.h5{
  margin-bottom: 15px;
  color: rgb(190, 190, 190);
}

.h1{
  font-size: 35px;
}

.metric-value{
  margin-top: -12px;
}

.metric-label{
  margin-top: -12px;
}


.metric-values{
  margin-top: -10px;
}



.mb-11{
  color: white;
}

.mb-1{
  font-size: 20px;
}

.mb-13{
  font-size: 20px;
  color: black;
}

.mb-12{
  color: #6b6b6b;
  font-size: 20px;
}

.bg-success-light{
background-color: #FF4080 !important;
color: white !important;
}

.bg-danger-light{
color: #FF4080 !important;
}

.ml-1{
  color: #FF4080 !important;
  margin-left: 5px;

}
.ml-12{
  color: white !important;
  margin-left: 5px;
}

.ml-11{
  margin-left: 5px;
}

.text{
  color: black;
  margin-top: -10px;

}

.text1{
  color: white;
  margin-top: -10px;

}

.td{
  font-weight: bold;
  text-transform: capitalize;
}


.general{
  background-color: #FF4080;
}
// .diagramme{
//     height: 100%;
// }
.good{
  color: #FF4080;;
}
.nav-link:hover{
  color: #FF4080 !important;
}
.active{
  color: #FF4080 !important;
}


  .diagramme{
      height: 50vh;
  }
  
  @media screen and (max-width: 640px){
      .diagramme{
          height: 30vh;
      }

      .titre{
          font-size: 15px;
          margin-right: 10px;
      }

      .titre2{
          font-size: 15px;
          
      }


      .mb-1{
          float: none;;
          }
          
          .user{
              margin-right: 30px;
              color: #FF4080;
          }
  
  }
  .survol{
      cursor: pointer;
  }