<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form  >
                <div class="imgcontainer">
                  <img src="assets/logo.png" alt="Avatar" class="avatare">
                </div>
              
                <div class="container">
                  <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="uname"  formControlName="username" required>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" formControlName="password" required>
                      
                  <button class="bouton" type="submit">Login</button>
                </div>
              </form>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>