<div class="container">
    <h1>Création d'articles</h1>
    <form action="" method="post">

    <div class="row ">
        <div class="col-md-3"></div>
        <div class="col-md-6 form">
            <div class="row">
                <div class="col-md-2">
                    <label for="">Titre</label>
                </div>
                <div class="col-md-9">
                    <input id="inputPassword" type="text" placeholder="Titre de l'article" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="">Date</label>
                </div>
                <div class="col-md-9">
                    <input type="date" class="form-control" formControlName="date" id="inputPassword">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="">Atricle</label>
                </div>
                <div class="col-md-9">
                    <textarea class="form-control" id="exampleFormControlTextarea1"  placeholder="Rédiger l'article" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="">Image</label>
                </div>
                <div class="col-md-9">
                    <input type="file"  id="customFile">
                </div>
            </div>
            <div class="row">
                <button type="submit"  class="btn btn-primary" >Valider</button>
            </div>
        </div>


    </div>

        </form>
  </div>