            
    <div class=" container">
        <div class="email-head">
            <div class="email-head-title">Ecrire un nouveau article<span class="icon mdi mdi-edit"></span></div>
        </div>
        <form [formGroup]="blogForm" >
          <div class="email-compose-fields">
            <div class="to">
                <div class="form-group row pt-0">
                    <label class="col-md-1 control-label">Titre:</label>
                    <div class="col-md-5">
                        <input class="form-control" formControlName="titre" type="text">
                    </div>
                </div>
            </div>
            <div class="to cc">
                <div class="form-group row pt-2">
                    <label class="col-md-1 control-label">Date :</label>
                    <div class="col-md-5">
                        <input class="form-control" formControlName="date" type="date">
                    </div>
                </div>
            </div>
            <div class="subject">
                <div class="form-group row pt-2">
                    <label class="col-md-1 control-label">Image : </label>
                    <div class="col-md-5">
                        <input class="form-control" formControlName="image" type="file">
                    </div>
                </div>
            </div>
        </div>
        <div class="container email editor">
            <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="control-label sr-only" for="summernote">Descriptions </label>
                    <textarea class="form-control" formControlName="description" id="summernote"  rows="6" placeholder="Write Descriptions"></textarea>
                </div>
            </div>
            <div class="email action-send">
                <div class="col-md-12 ">
                    <div class="form-group">
                        <button class="btn btn-primary btn-space" (click)="valider()" type="submit"><i class="icon s7-mail"></i> Send</button>
                        <button class="btn btn-primary btn-space" type="button"><i class="icon s7-close"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        
    </div>
