.inputcheck{
    float: right;
}

.check{
    border:1px solid  rgb(233, 233, 233);
    box-shadow: 5px 10px 18px #dbdbdb;
    margin-top: 25px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.checkform{
    margin-top: 55px;
}

.btn-primary{
    background-color: #FF4080;
    border-color: #FF4080;
    border-radius: 10px;
    margin-top: 25px;
}

h1{
    border-bottom: 3px solid #FF4080;
    border-radius: 5px;
    margin-bottom:50px;
  }