<div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="form-group marginRech">
          <input type="search"   class="inputRech">
        </div>
  
      </div>
      <div class="col-7"></div>
      <div class="col-2">
        <a [routerLink]="['/collaborateur/add']">
          <!-- <input type="submit" value="Ajout Collaborateur" class="btn btn-primary"> -->
          <div class="col-1"><img src="assets/plus.png" width="50" height="50" alt=""></div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3" *ngFor="let item of user" >
        <div class="card">
            <a class="liencarte" [routerLink]="['/collaborateur/detail',item.id]" (click)="choix(item)">

            <img class="card-img-top" src="assets/avatarh.png"  alt="Card image cap">
            <div class="info">
                <div class="title">
                  <strong class="strong">{{item.prenom}} {{item.nom}}</strong>
                </div>
                <div class="desc">{{item.poste}}</div>
                <!-- <div class="desc">Team Tech & Digital</div> -->
              </div>
            </a>
          </div>
      </div>
    </div>
  </div>