<div class="container-fluid">
    <div class="row">
      <div class="img col-md-2">
          <img src="assets/avatarh.png" height="150" alt="">
          <!-- <button class="modif btn btn-primary" > Modifier</button> -->
      </div>
      <div class="info col-md-4">
        <h1>{{personne.prenom}} {{personne.nom}}</h1>
        <span>{{personne.poste}}</span> <br>
        <!-- <span>Team Tech & Digital</span> <br> -->
        <span>{{personne.telephone}}</span> <br>
        <!-- <span>{{user.username}}</span> <br> -->
      </div>
    </div>
  <!-- POURCENTAGE DE CHAQUE CRITERE-->
<app-cardpresentation></app-cardpresentation>

  
  <!-- FIN POURCENTAGE DE CHAQUE CRITERE-->
 <div class="row">
     <div class="col-md-8">
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="seven-tab" data-toggle="tab" href="#seven" role="tab" aria-controls="seven" aria-selected="true">7 last day</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="mois-tab" data-toggle="tab" href="#mois" role="tab" aria-controls="mois" aria-selected="false">Année</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="date-tab" data-toggle="tab" href="#date" role="tab" aria-controls="date" aria-selected="false">Date</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="evaluateur-tab" data-toggle="tab" href="#evaluateur" role="tab" aria-controls="evaluateur" aria-selected="false">Evaluateur/Evaluer</a>
                  </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="seven" role="tabpanel" aria-labelledby="seven-tab">
                    <app-sevenlastday></app-sevenlastday>
                </div>
                <div class="tab-pane fade" id="mois" role="tabpanel" aria-labelledby="mois-tab">
<app-mois></app-mois>
                </div>
                <div class="tab-pane fade" id="annee" role="tabpanel" aria-labelledby="annee-tab">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Perseverance</h5>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Confiance en soi</h5>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Collaboration</h5>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Autonomie</h5>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Problem Solving</h5>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Transmission</h5>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Performance</h5>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                      
                    </div>
                              </div>
                <div class="tab-pane fade" id="date" role="tabpanel" aria-labelledby="date-tab">
                    <p>Part4</p>
                </div>
                <div class="tab-pane fade" id="evaluateur" role="tabpanel" aria-labelledby="evaluateur-tab">
                    <p>Part5</p>
                </div>
              </div>
            <!-- <div class="card">
              <div class="card-header tab-regular">
                  <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="card-tab-1" data-toggle="tab" href="#card-1" role="tab" aria-controls="card-1" aria-selected="true">(1) En cours</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="card-tab-2" data-toggle="tab" href="#card-2" role="tab" aria-controls="card-2" aria-selected="false">(0) Terminé</a>
                      </li>
                  </ul>
              </div> -->
          </div>
     </div>

     <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Performance Team</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table no-wrap p-table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">Nom </th>
                                <th class="border-0">General</th>
                                <th class="border-0">Progression</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of classification">
                                <td [ngClass]="{good: item.id==id}"><span class="td">{{item.username}}</span></td>
                                <td>{{item.general}}% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': item.progression>=0,'fa-arrow-down': item.progression<0}"></i></span><span  [ngClass]="{'ml-1': item.progression>=0,'ml-12': item.progression<0}">{{item.progression}}%</span>

                                </td>
                            </tr>
                            <!-- <tr>
                                <td><span class="td">Mbacke</span> </td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Yaya</span></td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Anta</span></td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Aissata</span></td>
                                <td>35% </td>
                                <td>   
                                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Fatou</span></td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Yacine</span></td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Ngone</span></td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Glory</span></td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>

                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Laye</span></td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Abdoulaye</span></td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Faustin</span></td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="td">Abraham</span> </td>
                                <td>35% </td>
                                <td>
                                    <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>

                                </td>
                            </tr> -->
                      
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     </div>
 </div> 

  

  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  