<div class="container-fluid">
    <div class="row">
      <div class="img col-md-2">
          <img src="assets/avatarh.png" height="150" alt="">
          <!-- <button class="modif btn btn-primary" > Modifier</button> -->
      </div>
      <div class="info col-md-4">
        <h1>{{personne.prenom}} {{personne.nom}}</h1>
        <span>{{personne.poste}}</span> <br>
        <!-- <span>Team Tech & Digital</span> <br> -->
        <span>{{personne.telephone}}</span> <br>
        <!-- <span>{{user.username}}</span> <br> -->
      </div>
      <div class="info col-md-6">
          <button type="submit" class="btn btn-primari ladate" (click)="choixdate()">{{ladate}}</button>
      </div>
    </div>
  <!-- POURCENTAGE DE CHAQUE CRITERE-->
<app-cardpresentation *ngIf="loadcard"></app-cardpresentation>
<!-- <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Perseverance</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-13">{{userperseverance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneuserperseverance>=0,'bg-danger-light': moyenneuserperseverance<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneuserperseverance>0,'fa-arrow-down': moyenneuserperseverance<0}"></i></span><span class="ml-1">{{moyenneuserperseverance| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamperseverance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneteamperseverance>=0,'bg-danger-light': moyenneteamperseverance<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneteamperseverance>0,'fa-arrow-down': moyenneteamperseverance<0}"></i></span><span class="ml-1">{{moyenneteamperseverance| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Confiance en soi</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-13">{{userconfiance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneuserconfiance>=0,'bg-danger-light': moyenneuserconfiance<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneuserconfiance>0,'fa-arrow-down': moyenneuserconfiance<0}"></i></span><span class="ml-1">{{moyenneuserconfiance| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamconfiance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneteamconfiance>=0,'bg-danger-light': moyenneteamconfiance<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneteamconfiance>0,'fa-arrow-down': moyenneteamconfiance<0}"></i></span><span class="ml-1">{{moyenneteamconfiance| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Collaboration</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-13">{{usercollaboration | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneusercollaboration>=0,'bg-danger-light': moyenneusercollaboration<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneusercollaboration>0,'fa-arrow-down': moyenneusercollaboration<0}"></i></span><span class="ml-1">{{moyenneusercollaboration| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamcollaboration | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneteamcollaboration>=0,'bg-danger-light': moyenneteamcollaboration<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneteamcollaboration>0,'fa-arrow-down': moyenneteamcollaboration<0}"></i></span><span class="ml-1">{{moyenneteamcollaboration| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Autonomie</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-13">{{userautonomie | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneuserautonomie>=0,'bg-danger-light': moyenneuserautonomie<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneuserautonomie>0,'fa-arrow-down': moyenneuserautonomie<0}"></i></span><span class="ml-1">{{moyenneuserautonomie| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamautonomie | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneteamautonomie>=0,'bg-danger-light': moyenneteamautonomie<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneteamautonomie>0,'fa-arrow-down': moyenneteamautonomie<0}"></i></span><span class="ml-1">{{moyenneteamautonomie| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Problem Solving</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-13">{{userproblemsolving | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneuserproblemsolving>=0,'bg-danger-light': moyenneuserproblemsolving<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneuserproblemsolving>0,'fa-arrow-down': moyenneuserproblemsolving<0}"></i></span><span class="ml-1">{{moyenneuserproblemsolving| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamproblemsolving | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneteamproblemsolving>=0,'bg-danger-light': moyenneteamproblemsolving<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneteamproblemsolving>0,'fa-arrow-down': moyenneteamproblemsolving<0}"></i></span><span class="ml-1">{{moyenneteamproblemsolving| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Transmission</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-13">{{usertransmission | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneusertransmission>=0,'bg-danger-light': moyenneusertransmission<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneusertransmission>0,'fa-arrow-down': moyenneusertransmission<0}"></i></span><span class="ml-1">{{moyenneusertransmission| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamtransmission | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneteamtransmission>=0,'bg-danger-light': moyenneteamtransmission<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneteamtransmission>0,'fa-arrow-down': moyenneteamtransmission<0}"></i></span><span class="ml-1">{{moyenneteamtransmission| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text">Performance</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-13">{{userperformance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneuserperformance>=0,'bg-danger-light': moyenneuserperformance<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneuserperformance>0,'fa-arrow-down': moyenneuserperformance<0}"></i></span><span class="ml-1">{{moyenneuserperformance| number:'2.1-2'}}%</span>

                </div>
                <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                    <h1 class="mb-12">{{teamperformance | number:'2.1-2'}}%</h1>
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyenneteamperformance>=0,'bg-danger-light': moyenneteamperformance<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyenneteamperformance>0,'fa-arrow-down': moyenneteamperformance<0}"></i></span><span class="ml-1">{{moyenneteamperformance| number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class=" general card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text1">Général</h5>
                <div class="metric-values d-inline-block">
                    <h1 class="mb-11">{{general | number:'2.1-2'}}%</h1>

                </div>
                <div class="metric-labels d-inline-block float-right text-danger font-weight-bold">
                    <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': moyennegeneral>=0,'bg-danger-light': moyennegeneral<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': moyennegeneral>0,'fa-arrow-down': moyennegeneral<0}"></i></span><span class="ml-12">{{moyennegeneral | number:'2.1-2'}}%</span>
                </div>
            </div>
        </div>
    </div>
</div> -->
  
  <!-- FIN POURCENTAGE DE CHAQUE CRITERE-->
 <div class="row">
     <div class="col-md-8">
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="seven-tab" data-toggle="tab" href="#seven" role="tab" aria-controls="seven" aria-selected="true">7 last day</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="mois-tab" data-toggle="tab" href="#mois" role="tab" aria-controls="mois" aria-selected="false">Année</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="date-tab" data-toggle="tab" href="#date" role="tab" aria-controls="date" aria-selected="false">Date</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="evaluateur-tab" data-toggle="tab" href="#evaluateur" role="tab" aria-controls="evaluateur" aria-selected="false">Evaluateur/Evaluer</a>
                  </li> -->
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="seven" role="tabpanel" aria-labelledby="seven-tab">
                <app-sevenlastday></app-sevenlastday>
                </div>
                <div class="tab-pane fade" id="mois" role="tabpanel" aria-labelledby="mois-tab">
                <app-mois></app-mois>
                </div>
                <!-- <div class="tab-pane fade" id="date" role="tabpanel" aria-labelledby="date-tab">
                    <p>Part4</p>
                </div>
                <div class="tab-pane fade" id="evaluateur" role="tabpanel" aria-labelledby="evaluateur-tab">
                    <p>Part5</p>
                </div> -->
              </div>
          </div>
     </div>

     <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Performance Team</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                     <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="nom">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                          <td mat-cell *matCellDef="let element" class="survol nomtab" (click)="retour(element)" [ngClass]="{good: element.id==id}"> {{element.username}} </td>
                        </ng-container>
                        <ng-container matColumnDef="general">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> General </th>
                          <td mat-cell *matCellDef="let element"> {{element.general}} % </td>
                        </ng-container>
                        <ng-container matColumnDef="progression">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progression </th>
                          <td mat-cell *matCellDef="let element">
                            <span class="icon-circle-small icon-box-xs text-danger" [ngClass]="{'bg-success-light': element.progression>=0,'bg-danger-light': element.progression<0}"><i class="fa fa-fw" [ngClass]="{'fa-arrow-up': element.progression>=0,'fa-arrow-down': element.progression<0}"></i></span><span class="ml-1" >{{element.progression}}%</span>      
                        </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table> 
                      
                </div>
            </div>
        </div>
     </div>
 </div> 

  

  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  