<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Perseverance
                <span class="mb-1"> 
                    <span class="titre">User : 43%
                       <span class=" icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-11 user">4%</span>
                   </span> 
                      
                   <span class="titre2">Team : 52%
                       <span class="icon-circle-small icon-box-xs text-success bg-danger-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">4%</span>
                   </span>
                       
                   </span>
            </h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDataperseverance"
                            [labels]="barChartLabelsperseverance"
                            [options]="barChartOptionsperseverance"
                            [legend]="barChartLegendperseverance"
                            [chartType]="barChartTypeperseverance">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Confiance en soi
                <span class="mb-1"> 
                    <span class="titre">User : 43%
                       <span class=" icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-11 user">4%</span>
                   </span> 
                      
                   <span class="titre2">Team : 52%
                       <span class="icon-circle-small icon-box-xs text-success bg-danger-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">4%</span>
                   </span>
                       
                   </span>
            </h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDataconfiance"
                            [labels]="barChartLabelsconfiance"
                            [options]="barChartOptionsconfiance"
                            [legend]="barChartLegendconfiance"
                            [chartType]="barChartTypeconfiance">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Collaboration
                <span class="mb-1"> 
                    <span class="titre">User : 43%
                       <span class=" icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-11 user">4%</span>
                   </span> 
                      
                   <span class="titre2">Team : 52%
                       <span class="icon-circle-small icon-box-xs text-success bg-danger-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">4%</span>
                   </span>
                       
                   </span>
            </h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDatacollaboration"
                            [labels]="barChartLabelscollaboration"
                            [options]="barChartOptionscollaboration"
                            [legend]="barChartLegendcollaboration"
                            [chartType]="barChartTypecollaboration">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Autonomie
                <span class="mb-1"> 
                    <span class="titre">User : 43%
                       <span class=" icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-11 user">4%</span>
                   </span> 
                      
                   <span class="titre2">Team : 52%
                       <span class="icon-circle-small icon-box-xs text-success bg-danger-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">4%</span>
                   </span>
                       
                   </span>
            </h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDataautonomie"
                            [labels]="barChartLabelsautonomie"
                            [options]="barChartOptionsautonomie"
                            [legend]="barChartLegendautonomie"
                            [chartType]="barChartTypeautonomie">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Problem Solving
                <span class="mb-1"> 
                    <span class="titre">User : 43%
                       <span class=" icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-11 user">4%</span>
                   </span> 
                      
                   <span class="titre2">Team : 52%
                       <span class="icon-circle-small icon-box-xs text-success bg-danger-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">4%</span>
                   </span>
                       
                   </span>
            </h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDataproblemsolving"
                            [labels]="barChartLabelsproblemsolving"
                            [options]="barChartOptionsproblemsolving"
                            [legend]="barChartLegendproblemsolving"
                            [chartType]="barChartTypeproblemsolving">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Transmission
                <span class="mb-1"> 
                    <span class="titre">User : 43%
                       <span class=" icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-11 user">4%</span>
                   </span> 
                      
                   <span class="titre2">Team : 52%
                       <span class="icon-circle-small icon-box-xs text-success bg-danger-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">4%</span>
                   </span>
                       
                   </span>
            </h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDatatransmission"
                            [labels]="barChartLabelstransmission"
                            [options]="barChartOptionstransmission"
                            [legend]="barChartLegendtransmission"
                            [chartType]="barChartTypetransmission">
                    </canvas>
                  </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Performance
                <span class="mb-1"> 
                    <span class="titre">User : 43%
                       <span class=" icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-11 user">4%</span>
                   </span> 
                      
                   <span class="titre2">Team : 52%
                       <span class="icon-circle-small icon-box-xs text-success bg-danger-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">4%</span>
                   </span>
                       
                   </span>
            </h5>
            <div class="card-body">
                <div class="diagramme" style="display: block">
                    <canvas baseChart
                            [datasets]="barChartDataperformance"
                            [labels]="barChartLabelsperformance"
                            [options]="barChartOptionsperformance"
                            [legend]="barChartLegendperformance"
                            [chartType]="barChartTypeperformance">
                    </canvas>
                  </div>
            </div>
        </div>
</div>
  
</div>