<div class="container-fluid">
  <h1>Choisissez une team</h1>


  <div class="row">
    <div class="carte col-md-4" *ngFor="let item of team">
      <div class="card" style="width: 16rem;">
          <a class="liencarte" [routerLink]="['/evaluation',item.id]">
          <img class="card-img-top" src="assets/avatarh.png"  alt="Card image cap">
          <div class="info">
              <div class="title">
                <strong class="strong">{{item.nom}} </strong>
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>


</div>
