
  
  
  .card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: white;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 5px 10px 18px #dbdbdb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    }
    

    .btn{ 
    border-radius: 15px; width:122px; height:32px; line-height:18px;  }
    
    .strong{
      font-size: 20px;
    }
    
  
    .card-img-top{
        width: 200px;
        height: 250px;
        margin-left: 25px;
        margin-top: -50px;
   
      }
  
    .info{
        text-align: center;
        margin-top: -55px;
        margin-bottom: 20px;
    }
  
  
    .liencarte{
        text-decoration: none;
    }
  
    .liencarte:hover{
        text-decoration: none;
        color: black;
    }
    @media screen and (max-width: 920px){

      .card-img-top{
        width: 100px;
        height: 150px;
        margin-left: 75px;
        margin-top: -50px;
        margin-bottom: 25px;
   
      }

      .carte{
        width: 150px;
        margin-right: 185px;
      }
       
        }
    @media screen and (max-width: 890px){

      .card-img-top{
        width: 100px;
        height: 150px;
        margin-left: 75px;
        margin-top: -50px;
        margin-bottom: 25px;
   
      }

      .carte{
        width: 200px;
        margin-right: 85px;
      }
       
        }

        @media screen and (max-width: 840px){

          .card-img-top{
            width: 100px;
            height: 150px;
            margin-left: 75px;
            margin-top: -50px;
            margin-bottom: 25px;
       
          }
    
          .carte{
            width: 100px;
            margin-right: 100px;
          }
           
            }
    @media screen and (max-width: 780px){

      .card-img-top{
        width: 100px;
        height: 150px;
        margin-left: 75px;
        margin-top: -50px;
        margin-bottom: 25px;
   
      }

      .carte{
        width: 300px;
      }
       
        }

    @media screen and (max-width: 640px){

.carte{
  margin-left: 100px;
}
.card-img-top{
  width: 180px;
  height: 250px;
  margin-left: 35px;
  margin-top: -50px;

}
  }