<div class="container-fluid">
  <h1>Choisissez une team g </h1>


  <div class="row">
    <div class="col-md-3" *ngFor="let item of team">
      <div class="card" style="width: 16rem;">
          <a class="liencarte" [routerLink]="['/evaluation']">
          <img class="card-img-top" src="assets/avatarh.png"  alt="Card image cap">
          <div class="info">
              <div class="title">
                <strong class="strong">Team Tech et Digital </strong>
              </div>
            </div>
          </a>
        </div>
    </div>
    <!-- <div class="col-md-3" >
      <div class="card" style="width: 16rem;">
          <a class="liencarte" [routerLink]="['/evaluation']">

          <img class="card-img-top" src="assets/avatarh.png"  alt="Card image cap">
          <div class="info">
              <div class="title">
                <strong class="strong">Team Academy </strong>
              </div>
          
            </div>
          </a>
        </div>
      

    </div>
    <div class="col-md-3" >
      <div class="card" style="width: 16rem;">
          <a class="liencarte" [routerLink]="['/evaluation']">

          <img class="card-img-top" src="assets/avatarh.png"  alt="Card image cap">
          <div class="info">
              <div class="title">
                <strong class="strong">Team Créa </strong>
              </div>
          
            </div>
          </a>
        </div>
      

    </div>
    <div class="col-md-3" >
      <div class="card" style="width: 16rem;">
          <a class="liencarte" [routerLink]="['/evaluation']">

          <img class="card-img-top" src="assets/avatarh.png"  alt="Card image cap">
          <div class="info">
              <div class="title">
                <strong class="strong">Team Business </strong>
              </div>
          
            </div>
          </a>
        </div>
      

    </div> -->
  </div>


</div>
