




<div class="container">
    <div class="row">
        <div class="col-8 col-md-8">
            <h1>Culture Team grow</h1>
        </div>
        
    </div>
    <div class="h1"></div>
    <div class="row cadre">
     
        <div class="col-md-6">
            <div class="titre">
                    <!--TITRE, DATE , CREATEUR, ICONE MODIFIER ET SUPPRIMER -->
                <div class="row">
                   
                    <div class="col-md-8">
                        <h2>La perseverance</h2>
                        <p class="date">Crée le 25/07/2020 par <span class="par">director</span> </p>
                    </div>
                    <div class="col-md-2 icone">
                            <img src="../../../../assets/edit.png" alt="">                    
                    </div>
                    <div class="col-md-2 icone">
                        <img src="../../../../assets/trash.png" alt="">                    
                </div>
              
                
                </div>
                    <!--FIN TITRE, DATE , CREATEUR, ICONE MODIFIER ET SUPPRIMER -->
            </div>
              <!--IMAGE ET ARTICLE MOBILE -->

            <div class="container imgmobile">
                <img src="assets/faustin.jpeg" class="img"  alt="">
            </div>
            
            <div class="article articlemobile">
                <p class="article1">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    <button class="btn btn-primary button" >Publiez</button>

                </p>
            </div>
              <!-- FIN IMAGE ET ARTICLE MOBILE -->

            </div>
                <!-- IMAGE ET ARTICLE WEB -->

            <div class="container articleweb">
    
            <p>
            <img src="../../../../assets/faustin.jpeg" alt="Tim Berners-Lee"
            style="float: left; height: 131px; margin-right: 20px;">
            </p>
            <p style="text-align: justify;">Le W3C est supervisé par Tim Berners-Lee,
            le principal créateur du protocole URL, de l'HTTP, et de l'HTML.</p>
            <blockquote><p>Le World Wide Web Consortium, abrégé W3C,
            est un consortium fondé en octobre 1994
            pour promouvoir la compatibilité des technologies du World Wide Web
            telles que HTML, XHTML, XML, RDF, CSS, PNG, SVG et SOAP.
            Le W3C n'émet pas des normes au sens européen, mais des recommandations à valeur de 
            standards industriels (wikipedia). Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste earum doloribus perferendis ea dolorum, suscipit temporibus quidem incidunt nisi libero, mollitia sequi sit voluptates provident. Consequuntur soluta maiores aliquam at? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nemo modi praesentium sapiente ipsa odio voluptates earum provident itaque magnam officiis quo eos minus deserunt unde cumque, similique impedit alias.</p></blockquote>
            <button class="btn btn-primary button" >Publiez</button>

            </div>
                          <!--FIN IMAGE ET ARTICLE WEB -->

    </div>



  </div>