h1{
    border-radius: 5px;
    margin-bottom:50px;
  }

  .h1{
    border-bottom: 4px solid #FF4080;
    width: 200px;
    margin-top: -40px;
    margin-bottom: 30px;

  }
  .date{
      margin-top: -10px;
  }

  .imgmobile{
      display: none;
      padding-top: 0;
  }
  .titre{
    padding: 20px;
  }

  .article{
    margin-top: 15px;
   
    padding: 20px;
  }

  .article1{
      text-align: justify;
  }

  .img{
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
  }


  .button{
    float: right;
    background-color: #FF4080;
    border-color: #FF4080;
    border-radius: 10px;

    color: white;
    border: none;
    font-size: 15px;
    margin-top: 60px;
    margin-bottom: 30px;
    float: right;
  }


  @media screen and (max-width: 640px){
   h2{
       font-size: 22px;
   }
   .date{
       font-size: 11px;
   }
   .button{
    float: right;
    background-color: #FF4080;
    border-color: #FF4080;
    border-radius: 5px;
  }

  .imgmobile{
      display: block;
      margin-bottom: 20px;
      margin-top: 20px;
  }
  .imageweb{
    display: none;
}
  .img{
      width: 250px;
      height: 200px;
  }

   

}
.btnmodifier{
  float: right;
  background-color: grey;
  border-color: grey;
  border-radius: 10px;
}

