<p><img src="../../../../assets/faustin.jpeg" alt="La mer"width="136" height="87" />Ulla facilis... Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas molestiae quasi inventore voluptatibus tempora repellendus expedita id sed tenetur molestias vel magnam placeat voluptate adipisci ab, beatae neque eos laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo perspiciatis ullam deserunt perferendis ad rem exercitationem laborum quam eum mollitia sequi explicabo inventore id, vel numquam odio consectetur nam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae doloribus, atque provident culpa porro doloremque harum nemo quod in recusandae architecto corrupti ut exercitationem assumenda corporis consectetur nulla eligendi repudiandae.</p>


<style>
    body {
    font: 0.8em/1.3em Verdana, Arial, Helvetica, sans-serif;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-8 col-md-6">
            <h1>Culture Team grow</h1>
        </div>
        
    </div>
    <div class="h1"></div>
    <div class="row cadre">
     
        <div class="col-md-6">
            <div class="titre">
                <div class="row">
                   
                    <div class="col-md-8">
                        <h2>La perseverance</h2>
                        <p class="date">Crée le 25/07/2020 par <span class="par">director</span> </p>
                    </div>
                    <div class="col-md-2">
                            <img src="../../../../assets/edit.png" alt="">                    
                    </div>
                    <div class="col-md-2">
                        <img src="../../../../assets/trash.png" alt="">                    
                </div>
              
                
                </div>
            </div>
            <div class="col-md-6 imgmobile">
                <img src="assets/faustin.jpeg" class="img"  alt="">
            </div>
            <div class="article">
                <p class="article1">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    <button class="btn btn-primary button" >Publiez</button>

                </p>
            </div>
        </div>
        <div class="col-md-6 imageweb">
            <img src="assets/faustin.jpeg" class="img"  alt="">
        </div>
    </div>

    <div class="row cadre" style="margin-top: 50px;">
        <div class="col-md-6 imgmobile">
            <img src="assets/solving2.png" class="img"   alt="">
        </div>
        <div class="col-md-6">
            <div class="titre">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Le Problem Solving</h2>
                        <p class="date">Crée le 25/07/2020 par <span class="par">director</span> </p>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary btnmodifier" >Modifiez</button>
                    </div>
              
                
                </div>
            </div>
            <div class="article">
                <p class="article1">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    <button class="btn btn-primary button">Publiez</button>

                </p>
            </div>
        </div>
        <div class="col-md-6 imageweb">
            <img src="assets/solving2.png" class="img"   alt="">
        </div>
    </div>
  </div>