<div class="container">
  <h1>Création d'utilisateurs</h1>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="carte col-md-6">

            <div class="carteavatar row">
                <img src="assets/avatarh.png" class="avatar" alt="">
            </div>

            <div class="form row">
                <form>
                  
                      <div class="form_group">
                        <label for="prenom">Prenom</label>
                        <input class="input" type="text" formControlName="prenom"  id="subscription_login"/>
                      </div>
                      <div class="form_group">
                        <label for="nom">Nom</label>
                        <input class="input" type="text" formControlName="nom" id="subscription_login"/>
                      </div>
                      <div class="form_group">
                        <label for="subscription_login">Téléphone</label>
                        <input class="input" type="text" formControlName="prenom" id="subscription_login"/>
                      </div>
                      <div class="form_group">
                        <label for="subscription_login">Email</label>
                        <input class="input" type="email" formControlName="prenom" id="subscription_login"/>
                      </div>
                      <div class="form_group">
                        <label>Profil</label>
                        <select class="select" name="lang">
                          <option value="">-- Sélectionnez --</option>
                          <option value="fr">Français</option>
                          <option value="en">English</option>
                          <option value="de">Deutsch</option>
                          <option value="es">Español</option>
                        </select>
                      </div>
                      <div class="form_group">
                        <label>Poste</label>
                        <select class="select" name="lang">
                          <option value="">-- Sélectionnez --</option>
                          <option value="fr">Français</option>
                          <option value="en">English</option>
                          <option value="de">Deutsch</option>
                          <option value="es">Español</option>
                        </select>
                      </div>
                      <div class="form_group">
                        <label>Team</label>
                        <select class="select" name="lang">
                          <option value="">-- Sélectionnez --</option>
                          <option value="fr">Français</option>
                          <option value="en">English</option>
                          <option value="de">Deutsch</option>
                          <option value="es">Español</option>
                        </select>
                      </div>
                    <div class="boutton row">
                        <button class="savebtn" type="submit">Save</button>
                        <button class="cancelbtn" type="submit">Cancel</button>
                    </div>
                  
                   
                  </form>


            </div>
                    
        </div>
    </div>
</div>